.bottom-content {
    background-color: rgba(156, 186, 192, 0.9);
}

.profil_profilbild img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.profil_profile-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.profil-text {
    color: #ffffff;
    font: 900 20px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}

.profile_bio-content {
    color: #ffffff;
    font: 400 16px 'Roboto', sans-serif;
    padding: 10px;
    padding-left: 20px;
}

.profil_profilbild {
    text-align: center;
    margin-top: 40px;
}

.profil_profilbild img {
    width: 200px; /* Breite des Profilbilds */
    height: 200px; /* Höhe des Profilbilds */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.profile-button {
    
    color: white; /* Textfarbe des Buttons */
    border: none;
    padding: 15px 30px; /* Innenabstand des Buttons */
    font-size: 18px; /* Schriftgröße des Buttons */
    border-radius: 10px; /* Abrundung des Buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.profile_bio-content {
    width: 100%;
    margin-top: 20px;
}

.profile_bio-content textarea {
    width: 100%; /* Vollständige Breite des Textbereichs */
    height: 150px; /* Höhe des Textbereichs */
    font-size: 16px; /* Schriftgröße des Textbereichs */
    padding: 10px; /* Innenabstand des Textbereichs */
    border: 1px solid #ccc; /* Rahmen um den Textbereich */
    border-radius: 5px; /* Abrundung des Rahmens */
    resize: vertical; /* Vertikales Vergrößern des Textbereichs erlauben */
}

.profile-edit-button {
    background-color: #0d3040;
    color: white; /* Textfarbe des Buttons */
    border: none;
    padding: 10px 20px; /* Innenabstand des Buttons */
    font-size: 16px; /* Schriftgröße des Buttons */
    border-radius: 5px; /* Abrundung des Buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

<<<<<<< HEAD
.reisen-content {
    display: flex;
    /* macht die Buttons nebeneinander */
    justify-content: flex-start;
    /* bietet Platz zwischen den Buttons */
    flex-wrap: wrap;
    /* erlaubt den Buttons, in die nächste Zeile zu wechseln, wenn der Platz nicht ausreicht */

}

.reisen-button {
    width: 80px;
    /* adjust as needed */
    height: 80px;
    /* display: inline-block; /* makes the buttons sit side by side */
    margin: 15px;
    /* provides some space between the buttons */
}

.reisen-button-img {
    width: 100%;
    height: auto;
    max-height: 150px;
}

.profile-edit-button:hover {
    background-color: #218838;
}

=======
>>>>>>> c7efcbe192d13fc4860e83366c64a3563e2e394c
.name {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.small {
    font-size: 18px;
}

.bottom-content {
    text-align: center;
    padding: 100px;
}