.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.transparent-bar {
    position: absolute; 
    top: 10px;
    left: 10px;
    right: 100px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
    height: calc(100% - 20px); 
    width: 72%; 
    border-radius: 20px; 
}

.add-button {
    font-size: 24px;
    margin: 20px;
    border-radius: 50px;
}

.progress-bar {
    width: 60%;
    height: 20px;
    background-color: #8f9fb9;
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: #0f4155;
    border-radius: 10px;
}

.progress-percent {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    color: #ffffff;
}

.add-button, .progress-bar, .progress-percent {
    position: relative; 
    z-index: 1; 
}