/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2DFDA;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

h1 {
    color: #0f4155;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #0f4155;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #448c9e;
}

.image-box {
    background-image: url(/static/images/background.jpeg);
    background-size: cover;
    grid-column: 2;
    width: 100%;
    padding: 10px;
}

.titel {
    color: #ffffff;
    font: 900 44px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}

.bottom-content {
    padding: 10px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e9b6b3; /* Default Red for error */
    color: #000000;
}

