/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2DFDA;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

h1 {
    color: #0f4155;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #0f4155;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.left-sidebar {
    grid-column: 1;
    background-color: #8f9fb9;
    /* Hintergrundfarbe des linken Bereichs */
    padding: 10px;

}

.logo {
    text-align: center;
}

.logo_button {
    width: 60px;
    /* adjust as needed */
    height: 60px;
    /* display: inline-block; /* makes the buttons sit side by side */
    margin: 30px;
    /* provides some space between the buttons */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50%;
    height: auto;
    /* Die Höhe wird proportional zur Breite angepasst */
}

.profilbild {
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto; /* Center the profile image container */
}

.profilbild img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.profilbild {
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto; /* Center the profile image container */
}

.profil_profilbild img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}
.profil_profile-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.name {
    color: #ffffff;
    font: 900 30px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
}

.sidebar-title {
    color: #ffffff;
    font: 900 20px 'Playfair Display', serif;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

.profil-text {
    color: #ffffff;
    font: 900 20px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
}

.bio-content {
    color: #ffffff;
    font: 400 16px 'Roboto', sans-serif;
    padding: 10px;
    padding-left: 20px;
}


.profile_bio-content {
    color: #ffffff;
    font: 400 16px 'Roboto', sans-serif;
    padding: 10px;
    padding-left: 20px;

.reisen-content {
    display: flex;
    /* macht die Buttons nebeneinander */
    justify-content: flex-start;
    /* bietet Platz zwischen den Buttons */
    flex-wrap: wrap;
    /* erlaubt den Buttons, in die nächste Zeile zu wechseln, wenn der Platz nicht ausreicht */

}

.reisen {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reisen form {
    grid-auto-columns: 2;
}

.reisen-button {
    width: 200px;
    /* adjust as needed */
    height: 200px;
    /* display: inline-block; /* makes the buttons sit side by side */
    margin: 15px;
    /* provides some space between the buttons */
}

.reisen-button-img {
    width: 100%;
    height: auto;
}

.reisen img {
    width: 100%;
    height: auto;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* Änderung hier */
    align-items: center;
    gap: 10px;
    /* Fügt Platz zwischen den Elementen hinzu */
    /* background-color: #f8f8f8; */
    padding: 10px 0;
}

.add-button {
    /* height: 40px;
    width: auto; */
    font-size: 24px;
    margin: 20px;
    border-radius: 50px;
}

.progress-bar {
    width: 60%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: #8f9fb9;
    border-radius: 10px;
}

.progress-percent {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    color: #ddd;
}

.mehr {
    width: 100%;
    margin: 0;
}

.image-box {
    background-image: url(background.jpeg);
    background-size: cover;
    grid-column: 2;
    width: 100%;
    padding: 10px;
}

.titel {
    color: #ffffff;
    font: 900 44px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}

.start-titel {
    color: #ffffff;
    font: 900 44px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}

.nutzername-text {
    color: #ffffff;
    font: 900 40px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}

.bucketlist-form label {
    color: #ffffff;
    font: 900 20px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}
.navigation {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navigation form {
    margin: 0;
}

.navigation button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.bottom-content {
    padding: 10px;
}

.europe-map {
    background-color: rgba(143, 159, 185, 0.5);
    width: 100%;
    height: 100%;
}

.europe-map img{

    height: auto;
    width: 100%;
    object-fit: cover;
}

/* Style the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

