<!DOCTYPE html>
<html>

<head>
    <title>Hilfe</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reisen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
            Hilfe 
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <p>Wenn nicht alle Lände in der Karte angezeigt werden, kann das daran liegen, dass </p>
        </div>
    </div>
</body>

</html>
