<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
            Wilkommen bei TripTik!
        </div>

        {% include 'navigation.html' %}

        <div id="map"></div>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoicm9qaW5hc2xhbjIyIiwiYSI6ImNsejFqY21leDM2b2IycXM2MDQ0NGV0NG8ifQ.2urA2afTUAdUbGKtCqw9sw'; // Token
            const map = new mapboxgl.Map({
                    container: 'map', // ID des HTML-Elements
                style: 'mapbox://styles/mapbox/streets-v11', 
                center: [10.4515, 51.1657], // Koordinaten [Längengrad, Breitengrad]
                zoom: 3 // Startzoom
            });

            var countryList = {{ country_list|tojson }};
            var colors = [
                '#ED5555', // Pastellrot
                '#B7DE68', // Pastellgrün
                '#87CEFA', // Pastellblau
                '#F0E68C', // Pastellgelb
                '#FF69B4', // Pastellpink
                '#FFC0CB', // Pastellrosa
                '#A1EDEB', // Pastelltürkis
                '#FFA07A', // Pastellorange
                '#DDA0DD', // Pastelllila
                '#6F9C14', // Pastelldunkelgrün
                '#CD5C5C', // Pastelldunkelrot
                '#4682B4', // Pastelldunkelblau
                '#FFD700', // Pastelldunkelgelb
                '#0BBFBF', // Pastelldunkeltürkis
            ]

            map.on('load', function () {
                map.addSource('countries', {
                    'type': 'geojson',
                    'data': 'static/geojson/world-administrative-boundaries.geojson'
                });

                var colorMapping = ['match', ['get', 'name']];
                countryList.forEach(function (country, index) {
                    var color = index % colors.length;
                    colorMapping.push(country.country, colors[color]);
                });
                colorMapping.push('#ccc');

                map.addLayer({
                    'id': 'countries-layer',
                    'type': 'fill',
                    'source': 'countries',
                    'paint': {
                        'fill-color': colorMapping,
                        'fill-opacity': 0.7
                    }
                });
            });
        </script>

        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% include 'progress_bar.html' %}

    </div>

</body>

</html>