<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
            Wilkommen bei TripTik!
        </div>

        {% include 'navigation.html' %}

        <div id="map"></div>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoicm9qaW5hc2xhbjIyIiwiYSI6ImNsejFqY21leDM2b2IycXM2MDQ0NGV0NG8ifQ.2urA2afTUAdUbGKtCqw9sw'; // Token
            const map = new mapboxgl.Map({
                    container: 'map', // ID des HTML-Elements
                style: 'mapbox://styles/mapbox/streets-v11', 
                center: [10.4515, 51.1657], // Koordinaten [Längengrad, Breitengrad]
                zoom: 3 // Startzoom
            });

            var countryList = {{ country_list|tojson }};
            var colors = [
                '#FF0000', // rot
                '#00FF00', // grün
                '#0000FF', // blau
                '#FFFF00', // gelb
                '#FF00FF', // pink
                '#00FFFF', // türkis
                '#FFA500', // orange
                '#800080', // lila
                '#008000', // dunkelgrün
                '#800000', // dunkelrot
                '#000080', // dunkelblau
                '#808000', // oliv
                '#008080', // dunkeltürkis
                '#FFC0CB', // rosa
            ]

            map.on('load', function () {
                map.addSource('countries', {
                    'type': 'geojson',
                    //'data': '/static/geojson/laender_faerben.geojson' // Pfad zur GeoJSON-Datei -> da sind die Ländergrenzen drinne!
                    'data': 'static/geojson/world-administrative-boundaries.geojson'
                });

                var colorMapping = ['match', ['get', 'name']];
                countryList.forEach(function (country, index) {
                    var color = index % colors.length;
                    colorMapping.push(country.country, colors[color]);
                });
                colorMapping.push('#ccc');

                map.addLayer({
                    'id': 'countries-layer',
                    'type': 'fill',
                    'source': 'countries',
                    'paint': {
                        'fill-color': colorMapping,
/*                       'fill-color': [
                            'match',
                            ['get', 'name'], // Attribut, das den Ländernamen enthält
                            'Germany', '#FF0000', // Farbe rot für die Färbung von Deutschland
                            'France', '#00FF00', // Farbe grün für die Färbung von Frankreich
                            'Poland', '#0000FF', // Farbe blau für die Färbung von Polen
                            /* weitere Länder und Farben hier hinzufügen 
                            '#ccc' // Standardfarbe für alle andere Länder
                        ],*/
                        'fill-opacity': 0.7
                    }
                });
            });
        </script>

        {% include 'progress_bar.html' %}

    </div>

</body>

</html>