<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>

    {% include 'sidebar.html' %}

    <div class="image-box">

        <div class="titel">
                Welcome to TripTik!
        </div>

       {% include 'navigation.html' %}
       
        <div class="bottom-content">
            <div class="europe-map">
                <img id="mapImage" src="/static/europegrey.png" alt="Map">
            </div>
        </div>
    
    </div>

</body>
</html>
