<link rel="stylesheet" type="text/css" href="/static/css/navigation.css">

<div class="navigation">
    <form action="/profil" method="post">
        <button type="submit">Profil</button>
    </form>
    <form action="/reisen" method="post">
        <button type="submit">Reisen</button>
    </form>
     <form action="/bucketlist" method="post">
        <button type="submit">Bucketlist</button>
    </form>
    {#<form action="/quizzes" method="post">
        <button type="submit">FunFact Quizzes</button>
    </form>
    <form action="/stickerbuch" method="post">
        <button type="submit">Stickerbuch</button>
    </form>
    <form action="/freunde" method="post">
        <button type="submit">Freunde</button>
    </form> #}
</div>
