<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profil.css">
</head>
<body>
   {% include 'sidebar.html' %}
    <div class="image-box">
        <div class="titel">
            Profil
        </div>

        {% include 'navigation.html' %}

        {% include 'logo_button.html' %}

        <div class="bottom-content">
            <div class="profilbild">
                <form action="/profilbilder" method="get">
                    <button type="submit" class="profile-button">
                        <img src="{{ url_for('static', filename='images/profilbild.png') }}" alt="Profilbild">
                    </button>
                </form>
            </div>

            <div class="name">
                 Hanna
            </div>

            <div class="profile_bio-content">
                        I love to travel and explore new places!
                        I love to travel and explore new places! 
                        I love to travel and explore new places!
            </div>

                <div class="reisen">
                    <form action="/reisen" method="post">
                        <button class="reise-button small" type="submit">
                            <img src="{{ url_for('static', filename='images/logo.png') }}">
                                das ist eine reise
                        </button>
                    </form>

                    <form action="/reisen" method="post">
                        <button class="reise-button small" type="submit">
                            <img src="{{ url_for('static', filename='images/logo.png') }}">
                                das ist eine reise
                        </button>
                    </form>

                    <form action="/reisen" method="post">
                        <button class="reise-button small" type="submit">
                            <img src="{{ url_for('static', filename='images/logo.png') }}">
                                das ist eine reise
                        </button>
                    </form>
                </div>

            <div>
                <form action="/profil_bearbeiten" method="get">
                     <button type="submit" class="profile-edit-button">Profil bearbeiten</button>
                </form>
            </div>
        </div>
    </div>
</body>



</html>
