<!DOCTYPE html>
<html>
<head>
    <title>Profil Bearbeiten</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profil_bearbeiten.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">
        <div class="titel">
            Profil Bearbeiten
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="profilbild">
             <img src="{{ url_for('static', filename='images/profilbild.png') }}" alt="Profilbild">
            </div>

            <div class="nutzername-text">
             {{ name }}
            </div>

            <form action="{{ url_for ('profil_bearbeiten_page') }}"method="post">
               
                <div class="name">
                    <input type="text" name="nickname" value="{{name}}" placeholder="Neuer Nutzername">
                </div>

                <div class="profile_bio-content">
                    <textarea name="bio" placeholder="bio">{{bio}}!</textarea>
                 </div>

                <div>
                    <button type="submit" class="profile-edit-button">Speichern</button>
                    
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>
