<!DOCTYPE html>
<html>
<head>
    <title>Profil Bearbeiten</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profil_bearbeiten.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">
        <div class="titel">
            Profil Bearbeiten
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="profilbild">
             <img src="{{ url_for('static', filename='images/profilbild.png') }}" alt="Profilbild">
            </div>

            <div class="nutzername-text">
            Anananasmachthannanas
            </div>


            <div class="name">
                <input type="text" value="Spitzname">
            </div>

            <div class="profile_bio-content">
                <textarea placeholder="Bio">I love to travel and explore new places!
                        I love to travel and explore new places! 
                        I love to travel and explore new places!</textarea>
            </div>

            <div>
                <form action="/profil" method="post">
                    <button type="submit" class="profile-edit-button">Speichern</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>
