<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profil.css">
</head>
<body>
   {% include 'sidebar.html' %}
    <div class="image-box">
        <div class="titel">
            Profil
        </div>

        {% include 'navigation.html' %}

        {% include 'logo_button.html' %}

        <div class="bottom-content">
            <div class="profilbild">
             <img src="{{ url_for('static', filename=profile_picture) }}" alt="Profilbild">
            </div>
           

            <div class="name">
                 {{ name }}
            </div>

           <div class="bio">
                <div class="bio-content">
                    {{ bio }}
                </div>
           </div>

            <div class="reisen">
                {% for trip in trips %}
                    <form action="/reise" method="post">
                        <input type="hidden" name="trip_id" value="{{ trip.id }}">
                        <button class="reise-button small" type="submit">
                            <img src="{{ trip.image }}" class="reise-button-img">
                            {{ trip.name }}
                        </button>
                    </form>
                {% endfor %}
            </div>

            <div>
                <form action="/profil_bearbeiten" method="get">
                     <button type="submit" class="profile-edit-button">Profil bearbeiten</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
