<!DOCTYPE html>
<html>
<head>
    <title>Profil Bearbeiten</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profil_bearbeiten.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">
        <div class="titel">
            Profil Bearbeiten
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="profilbild">
             <img src="{{ url_for('static', filename='images/profilbild.png') }}" alt="Profilbild">
            </div>

            <div class="nutzername-text">
            Anananasmachthannanas
            </div>


            <div class="name">
                <input type="text" value="Spitzname">
            </div>

            <div class="profile_bio-content">
                <textarea placeholder="Bio">I love to travel and explore new places!
                        I love to travel and explore new places! 
                        I love to travel and explore new places!</textarea>
            </div>

            <div>
                <form action="/profil" method="post">
                    <button type="submit" class="profile-edit-button">Speichern</button>
                </form>
            </div>
            
        </div>
    </div>
</body>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyB7f5Se9LvflKsLkgyicc_a88d8gNA1zI8",
        authDomain: "triptik-20313.firebaseapp.com",
        projectId: "triptik-20313",
        storageBucket: "triptik-20313.appspot.com",
        messagingSenderId: "198322471278",
        appId: "1:198322471278:web:8927d8b149f2f06a3e817f",
        measurementId: "G-PWF4WXTM6S"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
</html>
