<!DOCTYPE html>
<html>
<head>
    <title>Wilkommen bei TripTik</title>
    <link rel="stylesheet" type="text/css" href="/static/css/anmeldung.css">
</head>
<body>
    <div class="image-box">
        <div class="titel">
            Wilkommen bei
        </div>

        <div class="untertitel">
            Registrierung
        </div>

        <div class="bottom-content">
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" name="action" value="register" class="registrierung-button">Registrieren</button>
            </form>
            <form action="/" method="post">
                <button type="submit" name="action" value="login" class="anmeldung-button">Doch lieber Anmelden?</button>
            </form>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
