<!DOCTYPE html>
<html>

<head>
    <title>Reisen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reisen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
            Reisen 
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="reisen-content">
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
                <form action="/reisen" method="post">
                    <button class="reisen-button" type="submit">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                        das ist eine reise
                    </button>
                </form>
            </div>
        </div>
        {% include 'progress_bar.html' %}
    </div>
</body>

</html>
