<!DOCTYPE html>
<html>
<head>
    <title>Reisen</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="container">

    <div class="left-sidebar">
        <div class="logo">
            <img src="/static/logo.jpg" alt="TripTik Logo">
        </div>
        
            <form action="/profil" method="post">
                <button type="submit">Profil</button>
            </form>
            <form action="/reisen" method="post">
              <button type="submit">Reisen</button>
            </form>
            <form action="/reise_hinzufügen" method="post">
                <button id="last" type="submit">Reise Hinzufügen</button>
            </form>
    </div>

    <div class="main-content">
        <div class="top-content">
            <header>
                <h1>Reisen</h1>
            </header>
        </div>
        <div class="bottom-content">
            <form action="/" method="post">
                <button type="submit" style="color: blueviolet;">Home</button>
            </form>
            <form action="/reise_bearbeiten" method="post">
                <button type="submit">Reise bearbeiten</button>
            </form>
        </div>
    </div>
</div>
    
</body>
</html>
