<!DOCTYPE html>
<html>
<head>
    <title>Reise</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">
       <div class="titel">
            Reise
       </div>

       {% include 'navigation.html' %}

        <div class="bottom-content" style="background-color: rgba(156, 186, 192, 0.9);">
            <form action="/reise-speichern" method="post" enctype="multipart/form-data">
                <div>
                    <label for="reise">Reise:</label>
                    <input type="text" id="reise" name="reise" required><br><br>
                    <label for="stadt">Stadt:</label>
                    <input type="text" id="stadt" name="stadt"><br><br>
                    <label for="land">Land:</label>
                    <input type="text" id="land" name="land"><br><br>
                    <label for="startdatum">Startdatum:</label>
                    <input type="date" id="startdatum" name="startdatum"><br><br>
                    <label for="enddatum">Enddatum:</label>
                    <input type="date" id="enddatum" name="enddatum"><br><br>
                    <label for="bericht">Bericht:</label> <br>
                    <textarea id="bericht" name="bericht" rows="15" cols="60"></textarea><br><br>
                </div>
                
                <div>
                    <label for="bild">Bild:</label>
                    <input type="file" id="bild" name="bild" accept="image/*" multiple><br><br>
                    <img id="bildVorschauGroß" src="#" alt="Bild Vorschau Groß">
                    <div id="bildVorschauContainer"></div>
                </div>
                
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
        
    </div>

</body>
</html>
