<!DOCTYPE html>
<html>
<head>
    <title>Reise Bearbeiten</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
   {% include 'sidebar.html' %}

   {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
                Welcome to TripTik!
        </div>

       {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="europe-map">
                <img id="mapImage" src="/static/images/europegrey.png" alt="Map">
            </div>
        </div>
    
    </div>
</body>
</html>