<!DOCTYPE html>
<html>
<head>
    <title>Reise hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Reise hinzufügen</h1>
    
    <main>

        <form action="/" method="post">
             <button type="submit" style="color: blueviolet;">Home</button>
        </form>

        <h2>Content Goes Here</h2>
        <p>This is where you can add your content.</p>
    </main>
    
    <footer>
        <p>&copy; 2022 My Web Page. All rights reserved.</p>
    </footer>
</body>
</html>