<!DOCTYPE html>
<html>

<head>
    <title>Reisen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reisen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progress.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
            Reisen 
        </div>

        {% include 'navigation.html' %}

        <div class="bottom-content">
            <div class="reisen-content">
                {% for trip in trips %}
                    <form action="/reise" method="post">
                        <input type="hidden" name="trip_id" value="{{ trip.id }}">
                        <button class="reisen-button" type="submit">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" class="reisen-button-img">
                            {{ trip.name }}
                        </button>
                    </form>
                {% endfor %}

            </div>
        </div>
        {% include 'progress_bar.html' %}
    </div>
</body>

</html>
