<!DOCTYPE html>
<html>
<head>
    <title>Reise</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reise.css">
</head>

<body>
    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">
       <div class="titel">
            {{reise}}
       </div>

       {% include 'navigation.html' %}

        <div class="bottom-content">
            <div> 
                <p>Stadt: {{stadt}}</p>
                <p>Land: {{land}}</p>
                <p>Startdatum: {{startdatum}}</p>
                <p>Enddatum: {{enddatum}}</p>
                <p>Bericht: {{bericht}}</p>
            </div>
            
            <div class="bilder">
                {% if trip_bilder %}
                    {% for bild in trip_bilder %}
                        <img src="data:image/jpeg;base64,{{ bild }}" alt="Bild" style="max-width: 300px; max-heigth: 300px;">
                    {% endfor %}
                {% else %}
                    <p>Keine Bilder vorhanden</p>
                {% endif %}
            </div>

            <form action="/reise_bearbeiten" method="post">
                <input type="hidden" name="trip_id" value="{{ trip_id }}">
                <button type="submit" id="submit">Diese Reise bearbeiten</button>
            </form>

            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flash-message">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

        </div>
        
    </div>

</body>
</html>
