<!DOCTYPE html>
<html>
<head>
    <title>Reise hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reise_hinzufügen.css">
</head>
<body>

    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
                Reise hinzufügen
        </div>

       {% include 'navigation.html' %}

        <div class="bottom-content">
            <form action="/reise-speichern" method="post" enctype="multipart/form-data">
                <div>
                    <label for="reise">Reise:</label>
                    <input type="text" id="reise" name="reise" required>
                    <p>Bitte beachten, dass Titel einmalig sein müssen. Wenn der Titel </p> 
                    <p>schon vorhanden ist, müssen die Bilder erneut ausgewählt werden.</p><br>
                    <label for="stadt">Stadt:</label>
                    <input type="text" id="stadt" name="stadt" value="{{stadt}}"><br><br>
                    <label for="land">Land:</label>
                    <input list="countries" id="land" name="land" value="{{land}}">
                    <datalist id="countries">
                        <!-- Optionen werden durch JavaScript hinzugefügt -->
                    </datalist>
                    <p>Bitte nur ein Land aus der Liste auswählen, um es auf der Karte anzuzeigen.</p><br>
                    <label for="startdatum">Startdatum:</label>
                    <input type="date" id="startdatum" name="startdatum" value="{{startdatum}}"><br><br>
                    <label for="enddatum">Enddatum:</label>
                    <input type="date" id="enddatum" name="enddatum" value="{{enddatum}}"><br><br>
                    <label for="bericht">Bericht:</label> <br>
                    <textarea id="bericht" name="bericht" rows="7" cols="60">{{bericht}}</textarea><br><br>
                </div>
                
                <div>
                    <label for="bild">Bilder:</label>
                    <input type="file" id="bild" name="bild" accept="image/*" multiple><br><br>
                    <img id="bildVorschauGroß" src="#" alt="Bild Vorschau Groß">
                    <div id="bildVorschauContainer"></div>
                </div>
                
                <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="flash-message">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    
    </div>

    <script>
    // von ChatGPT erstellt
        document.addEventListener('DOMContentLoaded', function() {
            fetch('static/json/countries_de_to_en.json')
                .then(response => response.json())
                .then(data => {
                    const dataList = document.getElementById('countries');
                    Object.keys(data).forEach(germanName => {
                        const option = document.createElement('option');
                        option.value = germanName;
                        dataList.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading country data:', error));
        });

        document.getElementById('bild').addEventListener('change', function(event) {
            var bildDateien = event.target.files;
            var bildVorschauContainer = document.getElementById('bildVorschauContainer');
            var bildVorschauGroß = document.getElementById('bildVorschauGroß');

            bildVorschauContainer.innerHTML = ''; // Vorherige Vorschauen löschen

            Array.from(bildDateien).forEach((bildDatei, index) => {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = 'bildVorschauKlein';

                    // Das letzte Bild wird groß angezeigt
                    if (index === bildDateien.length - 1) {
                        bildVorschauGroß.src = e.target.result;
                        bildVorschauGroß.style.display = 'block';
                    } else {
                        bildVorschauContainer.appendChild(img);
                    }
                }
                reader.readAsDataURL(bildDatei);
            });
        });
    </script>
</body>
</html>