<!DOCTYPE html>
<html>
<head>
    <title>Reise hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reise_hinzufügen.css">
</head>
<body>

    {% include 'sidebar.html' %}

    {% include 'logo_button.html' %}

    <div class="image-box">

        <div class="titel">
                Reise hinzufügen
        </div>

       {% include 'navigation.html' %}

        <div class="bottom-content" style="background-color: rgba(156, 186, 192, 0.9);">
            <form action="/reise-speichern" method="post" enctype="multipart/form-data">
                <div>
                    <label for="reise">Reise:</label>
                    <input type="text" id="reise" name="reise" required><br><br>
                    <label for="stadt">Stadt:</label>
                    <input type="text" id="stadt" name="stadt"><br><br>
                    <label for="land">Land:</label>
                    <input type="text" id="land" name="land"><br><br>
                    <label for="startdatum">Startdatum:</label>
                    <input type="date" id="startdatum" name="startdatum"><br><br>
                    <label for="enddatum">Enddatum:</label>
                    <input type="date" id="enddatum" name="enddatum"><br><br>
                    <label for="bericht">Bericht:</label> <br>
                    <textarea id="bericht" name="bericht" rows="15" cols="60"></textarea><br><br>
                </div>
                
                <div>
                    <label for="bild">Bild:</label>
                    <input type="file" id="bild" name="bild" accept="image/*" multiple><br><br>
                    <img id="bildVorschauGroß" src="#" alt="Bild Vorschau Groß">
                    <div id="bildVorschauContainer"></div>
                </div>
                
                <button type="submit">Hinzufügen</button>
            </form>
        </div>
    
    </div>

    <script>
        document.getElementById('bild').addEventListener('change', function(event) {
            var bildDateien = event.target.files;
            var bildVorschauContainer = document.getElementById('bildVorschauContainer');
            var bildVorschauGroß = document.getElementById('bildVorschauGroß');

            bildVorschauContainer.innerHTML = ''; // Vorherige Vorschauen löschen

            Array.from(bildDateien).forEach((bildDatei, index) => {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = 'bildVorschauKlein';

                    // Das letzte Bild wird groß angezeigt
                    if (index === bildDateien.length - 1) {
                        bildVorschauGroß.src = e.target.result;
                        bildVorschauGroß.style.display = 'block';
                    } else {
                        bildVorschauContainer.appendChild(img);
                    }
                }
                reader.readAsDataURL(bildDatei);
            });
        });
    </script>
</body>
</html>