<div class="left-sidebar">
    <div class="profilbild">
        <img src="{{ url_for('static', filename='profilbild.png') }}" alt="TripTik Logo">
    </div>
    
    <div class="name"> Hanna </div>

    <div class="sidebar-title">Bio:</div>
    <div class="bio-content">I love to travel and explore new places! I love to travel and explore new places! I love to travel and explore new places!</div>
    
    <div class="sidebar-title">Reisen:</div>
    <div class="reisen">
        <form action="/reisen" method="post">
            <button class="reise-button" type="submit">
                <img src="{{ url_for('static', filename='logo.png') }}">
                das ist eine reise
            </button>
        </form>
        <form action="/reisen" method="post">
            <button class="reise-button" type="submit">
                <img src="{{ url_for('static', filename='logo.png') }}">
                das ist eine reise
            </button>
        </form>
        <form action="/reisen" method="post">
            <button class="reise-button" type="submit">
                <img src="{{ url_for('static', filename='logo.png') }}">
                das ist eine reise
            </button>
        </form>
    </div>

    <form class="mehr" action="/reisen" method="post">
        <button class="mehr" type="submit">mehr anzeigen</button>
    </form>
</div>
