<!DOCTYPE html>
<html>
<head>
    <title>Wilommen bei Triptik</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
    .start-titel {
    color: #ffffff;
    font: 900 44px 'Playfair Display', serif;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    height: 100px;
}
    </style>
</head>

<body>
   

    <div class="image-box">
       <div class="start-titel">
            Wilommen bei Triptik
       </div>

      

       <div class="bottom-content">
           
            
        </div>
        
    </div>

</body>
</html>
